.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #747474;
}
.container-fluid {
  padding: 80px 0;
}
a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}
.cardPersonalizado {
  border-radius: 0;
  padding: 0px;
  text-align: initial;
  border: none;
  transition: 0.5s;
}
.cardPersonalizado .card-img {
  border: none;
  border-radius: 0;
}

.cardPersonalizado p {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.3em;
  color: #333;
}
#id {
  background: white;
  width: 10%;
  height: 10%;
  padding: 0;
  border-radius: 0px 0 0px 50%;
  text-align: center;
}
.card-img-overlay span {
  padding: 0 2px;
  margin: 0px 5px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.5s;
}

.card-img-overlay span:hover {
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.informacao {
  padding: 0;
  top: 82%;
}
.informacoes {
  background: white;
  width: 100%;
  height: 100%;
}
#inf {
  padding: 5px 0;
  float: right;
  position: relative;
  top: 30%;
}
#plus {
  cursor: pointer;
  padding: 0 7px;
}
.fab {
  padding: 15px;
}

.fab:hover {
  color: aliceblue;
  cursor: pointer;
}

.btnSubir {
  float: right;
  left: 95%;
  cursor: pointer;
}
.textoBtn:hover {
  visibility: visible;
}
#inf span,
#plus,
.card-img-overlay span,
.btnSubir,
#id {
  opacity: 0.5;
}
#inf span:hover,
#plus:hover,
.cardPersonalizado:hover,
.btnSubir:hover {
  opacity: 0.8;
}
